on init
    mkdir /firmware 0771 system system
    mkdir /bt_firmware 0771 system system

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on boot
    start health-hal-2-1

on property:ro.crypto.state=unsupported
    stop qseecomd
    stop keymaster-4-1-qti
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:ro.crypto.state=unencrypted
    stop qseecomd
    stop keymaster-4-1-qti
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:twrp.all.users.decrypted=true
    stop qseecomd
    stop keymaster-4-1-qti
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager
